header {
    height: 64px;
    background: var(--gg-red);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;

    a:hover {
        opacity: 0.85;
    }

    a.home {
        position: relative;
        top: -3px;
    }

    a.github {
        margin-left: auto;
    }

    nav {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        margin: 0 20px;

        li {
            list-style: none;
            margin-right: 0.5em;
        }

        a {
            padding: 9px 14px;
            color: white;
            text-decoration: none;

            &.active {
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}